Repository suitenumerique/docs, pull requests merged in 2024-11, with the labels that each got.

#400 🚸(backend) improve users similarity search and sort results
  CHANGELOG.md
  src/backend/core/api/viewsets.py
  src/backend/core/tests/test_api_users.py
Labels: enhancement, python, backend, urgent

#255 🌐 (frontend) Add German translation
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/language.spec.ts
  src/frontend/apps/impress/src/i18n/conf.ts
  src/frontend/apps/impress/src/i18n/translations.json
Labels: frontend, i18n

#408 🦺(backend) add comma to sub regex
  CHANGELOG.md
  src/backend/core/models.py
Labels: backend

#385 🐛(editor) collaborative user tag hidden when read only
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteEditor.tsx
Labels: bug, editor

#443 🔒️(backend) whitelist the pod's IP address
  CHANGELOG.md
  src/backend/impress/settings.py
Labels: backend, helm

#432 💄(frontend) add docgrid options button
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-grid.spec.ts
  src/frontend/apps/impress/src/components/BoxButton.tsx
  src/frontend/apps/impress/src/components/DropButton.tsx
  src/frontend/apps/impress/src/components/DropdownMenu.tsx
  src/frontend/apps/impress/src/components/index.ts
  src/frontend/apps/impress/src/features/docs/doc-management/components/ModalRemoveDoc.tsx
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGrid.tsx
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGridActions.tsx
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGridLoader.tsx
Labels: frontend

#453 ✅(CI) trivy continue on error
  .github/workflows/docker-hub.yml
  CHANGELOG.md
Labels: bug, CI

#459 🔖(patch) release 1.8.1
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/extra/Chart.yaml
  src/helm/helmfile.yaml
  src/helm/impress/Chart.yaml
  src/mail/package.json
Labels: release

#461 🔖(patch) release 1.8.2
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/extra/Chart.yaml
  src/helm/helmfile.yaml
  src/helm/impress/Chart.yaml
  src/mail/package.json
Labels: release
