Repository suitenumerique/docs, pull requests merged in 2024-09, with the labels that each got.

#212 🔧(helm) replace storage url in ingressMedia
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/helm/env.d/staging/values.impress.yaml.gotmpl
Labels: bug, helm

#230 🔧(compose) stop forcing platform for Keycloak PostgreSQL image
  CHANGELOG.md
  docker-compose.yml
Labels: bug, docker

#231 ✨(frontend) update meta title for docs page
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-create.spec.ts
  src/frontend/apps/impress/src/pages/_app.tsx
  src/frontend/apps/impress/src/pages/docs/[id]/index.tsx
Labels: frontend, feature

#241 🔧(helm) change production media storage name
  src/helm/env.d/production/values.impress.yaml.gotmpl
Labels: helm

#242 🐛(frontend) meta title rerender issue
  src/frontend/apps/impress/src/pages/docs/[id]/index.tsx
Labels: bug, frontend

#229 🔖(minor) release 1.3.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/mail/package.json
Labels: release

#248 🧑‍💻(makefile) add build frontend dev
  CHANGELOG.md
  Makefile
Labels: bug, frontend

#263 🔖(minor) release 1.4.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/mail/package.json
Labels: release

#274 🔒️(helm) fix secret sync precedence
  src/helm/impress/templates/secrets.yaml
Labels: helm

#232 🐛 (backend) gitlab oicd userinfo endpoint
  CHANGELOG.md
  src/backend/core/authentication/backends.py
  src/backend/core/tests/authentication/test_backends.py
Labels: backend

#284 💄(frontend) error alert closeable on editor
  CHANGELOG.md
  src/frontend/apps/impress/src/components/TextErrors.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteEditor.tsx
Labels: enhancement, frontend

#283 ♻️Change email content
  CHANGELOG.md
  src/backend/core/api/viewsets.py
  src/backend/core/models.py
  src/backend/core/tests/documents/test_api_document_accesses_create.py
  src/backend/core/tests/documents/test_api_document_invitations.py
  src/backend/core/tests/test_models_documents.py
  src/backend/core/tests/test_utils.py
  src/backend/core/utils.py
  src/backend/locale/en_US/LC_MESSAGES/django.mo
  src/backend/locale/en_US/LC_MESSAGES/django.po
  src/backend/locale/fr_FR/LC_MESSAGES/django.mo
  src/backend/locale/fr_FR/LC_MESSAGES/django.po
  src/mail/mjml/invitation.mjml
  src/mail/mjml/partial/header.mjml
Labels: frontend, backend, refacto

#258 ♻️(api) refactor getting versions to expose pagination
  CHANGELOG.md
  src/backend/core/api/serializers.py
  src/backend/core/api/viewsets.py
  src/backend/core/models.py
  src/backend/core/tests/documents/test_api_document_versions.py
  src/backend/core/tests/test_models_documents.py
Labels: bug, python, backend, refacto

#299 📝(project) update README.md
  README.md
Labels: documentation
