Repository suitenumerique/docs, pull requests merged in 2024-10, with the labels that each got.

#301 ✨(backend) add full_name and short_name to user model and API
  CHANGELOG.md
  src/backend/.pylintrc
  src/backend/core/admin.py
  src/backend/core/api/serializers.py
  src/backend/core/authentication/backends.py
  src/backend/core/factories.py
  src/backend/core/migrations/0006_add_user_full_name_and_short_name.py
  src/backend/core/models.py
  src/backend/core/tests/authentication/test_backends.py
  src/backend/core/tests/test_api_users.py
  src/backend/demo/management/commands/create_demo.py
  src/backend/impress/settings.py
Labels: enhancement, python, backend

#303 🛂(backend) match email if no existing user matches the sub
  CHANGELOG.md
  src/backend/core/authentication/backends.py
  src/backend/core/tests/authentication/test_backends.py
  src/backend/impress/settings.py
Labels: enhancement, python, backend

#311 🐛(service-worker) fix circular import problem
  src/frontend/apps/impress/src/features/service-worker/ApiPlugin.ts
Labels: bug, SW

#310 🔖Release 1.5.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/mail/package.json
Labels: release

#319 🔖(patch) release 1.5.1
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/mail/package.json
Labels: release

#336 🐛(frontend) invalidate queries after removing user
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/members/members-add/components/AddMembers.tsx
  src/frontend/apps/impress/src/features/docs/members/members-add/components/SearchUsers.tsx
  src/frontend/apps/impress/src/features/docs/members/members-add/index.ts
  src/frontend/apps/impress/src/features/docs/members/members-list/api/useDeleteDocAccess.ts
Labels: bug, frontend

#314 ♻️ Add username in email
  CHANGELOG.md
  src/backend/core/api/viewsets.py
  src/backend/core/models.py
  src/backend/core/tests/documents/test_api_document_accesses_create.py
  src/backend/core/tests/documents/test_api_document_invitations.py
  src/backend/core/tests/test_models_documents.py
  src/backend/locale/en_US/LC_MESSAGES/django.mo
  src/backend/locale/en_US/LC_MESSAGES/django.po
  src/backend/locale/fr_FR/LC_MESSAGES/django.mo
  src/backend/locale/fr_FR/LC_MESSAGES/django.po
  src/mail/mjml/invitation.mjml
  src/mail/mjml/partial/header.mjml
Labels: backend, i18n

#318 ✨(frontend): Added copy-as buttons for HTML and Markdown
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-header.spec.ts
  src/frontend/apps/impress/src/features/docs/doc-header/components/DocToolBox.tsx
Labels: frontend, feature

#309 ♻️(backend) allow uploading more types of attachments
  CHANGELOG.md
  Dockerfile
  src/backend/core/api/serializers.py
  src/backend/core/api/viewsets.py
  src/backend/core/tests/documents/test_api_documents_attachment_upload.py
  src/backend/impress/settings.py
  src/backend/pyproject.toml
Labels: python, feature, backend

#346 🌐(frontend) translate last features
  src/frontend/apps/impress/src/i18n/translations.json
Labels: i18n

#340 🐛(backend) Fixing docker-compose.yml to make nginx depend on app-dev
  CHANGELOG.md
  Makefile
  docker-compose.yml
Labels: bug, docker

#351 ♻️Small improvement before release to 1.6.0
  src/frontend/apps/impress/src/features/docs/doc-editor/components/AIButton.tsx
  src/frontend/apps/impress/src/i18n/translations.json
Labels: enhancement, frontend

#345 🛂(backend) do not duplicate user when disabled
  CHANGELOG.md
  src/backend/core/authentication/backends.py
  src/backend/core/tests/authentication/test_backends.py
Labels: bug, python, backend

#353 ⬆️(frontend) upgrade blocknote to 0.17.0
  CHANGELOG.md
  src/frontend/package.json
  src/frontend/yarn.lock
Labels: dependencies, frontend, editor

#349 🔖(minor) release 1.6.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/mail/package.json
Labels: release

#352 📝(docs) add CONTRIBUTING.md doc
  CHANGELOG.md
  CONTRIBUTING.md
Labels: documentation

#368 🌐(frontend) add localization to editor
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-editor.spec.ts
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteEditor.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/MarkdownButton.tsx
Labels: frontend, feature

#369 ♻️(backend) fix access rights on the invitations API endpoint
  CHANGELOG.md
  src/backend/core/api/permissions.py
  src/backend/core/api/serializers.py
  src/backend/core/api/viewsets.py
  src/backend/core/models.py
  src/backend/core/tests/documents/test_api_document_invitations.py
  src/backend/core/tests/documents/test_api_documents_retrieve.py
  src/backend/core/tests/test_models_documents.py
  src/backend/core/tests/test_models_invitations.py
Labels: bug, python, backend, refacto

#377 📝(Documentation) add an issue selection section
  CONTRIBUTING.md
Labels: help wanted, noChangeLog

#366 🗑️(ci) clean old deployment and ci
  .github/workflows/deploy.yml
  .github/workflows/docker-hub.yml
  .github/workflows/helmfile-linter.yaml
  CHANGELOG.md
  src/helm/env.d/dev/secrets.enc.yaml
  src/helm/env.d/dev/values.impress.yaml.gotmpl
  src/helm/env.d/preprod/secrets.enc.yaml
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/secrets.enc.yaml
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/helm/env.d/staging/secrets.enc.yaml
  src/helm/env.d/staging/values.impress.yaml.gotmpl
  src/helm/extra/Chart.yaml
  src/helm/extra/templates/keydb.yaml
  src/helm/extra/templates/postgresql.yaml
  src/helm/extra/templates/s3.yaml
  src/helm/helmfile.yaml
  src/helm/impress/Chart.yaml
  src/helm/impress/README.md
  src/helm/impress/generate-readme.sh
  src/helm/impress/templates/_helpers.tpl
  src/helm/impress/templates/backend_deployment.yaml
  src/helm/impress/templates/backend_job.yaml
  src/helm/impress/templates/backend_job_createsuperuser.yaml
  src/helm/impress/templates/backend_svc.yaml
  src/helm/impress/templates/frontend_deployment.yaml
  src/helm/impress/templates/frontend_svc.yaml
  src/helm/impress/templates/ingress.yaml
  src/helm/impress/templates/ingress_admin.yaml
  src/helm/impress/templates/ingress_media.yaml
  src/helm/impress/templates/ingress_ws.yaml
  src/helm/impress/templates/media_svc.yaml
  src/helm/impress/templates/secrets.yaml
  src/helm/impress/templates/yprovider_deployment.yaml
  src/helm/impress/templates/yprovider_svc.yaml
  src/helm/impress/values.yaml
Labels: CI, helm

#381 🌐(frontend) translate last features
  src/frontend/apps/impress/src/i18n/translations.json
Labels: frontend, i18n

#372 🐛(frontend) avoid documents indexing in search engine
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-routing.spec.ts
  src/frontend/apps/impress/src/pages/docs/[id]/index.tsx
Labels: bug, frontend

#388 👔(backend) doc restricted by default
  CHANGELOG.md
  src/backend/core/migrations/0008_alter_document_link_reach.py
  src/backend/core/models.py
  src/backend/core/tests/documents/test_api_documents_create.py
  src/frontend/apps/e2e/__tests__/app-impress/doc-visibility.spec.ts
Labels: backend

#382 🔖(minor) release 1.7.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/mail/package.json
Labels: release
