Repository suitenumerique/docs, pull requests merged in 2024-12, with the labels that each got.

#475 ✨(frontend) implement document filtering
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-grid.spec.ts
  src/frontend/apps/impress/src/features/docs/doc-management/api/useDocs.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/types.tsx
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGrid.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LefPanelTargetFilters.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanel.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelContent.tsx
  src/frontend/apps/impress/src/pages/docs/index.tsx
Labels: frontend

#474 🔨(frontend) encapsulate title component
  CHANGELOG.md
  src/frontend/apps/impress/src/features/header/components/Header.tsx
  src/frontend/apps/impress/src/features/header/components/Title/Title.tsx
Labels: frontend

#484 🐛(frontend) fix initial content with collaboration
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteEditor.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/stores/useDocStore.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/utils.ts
Labels: frontend, collaboration

#492 🔖(minor) release 1.9.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/extra/Chart.yaml
  src/helm/helmfile.yaml
  src/helm/impress/Chart.yaml
  src/mail/package.json
Labels: release

#412 ✨(email) white brand email
  CHANGELOG.md
  env.d/development/common.dist
  src/backend/core/models.py
  src/backend/core/tests/documents/test_api_document_invitations.py
  src/backend/impress/settings.py
  src/backend/locale/de_DE/LC_MESSAGES/django.mo
  src/backend/locale/de_DE/LC_MESSAGES/django.po
  src/backend/locale/en_US/LC_MESSAGES/django.mo
  src/backend/locale/en_US/LC_MESSAGES/django.po
  src/backend/locale/fr_FR/LC_MESSAGES/django.mo
  src/backend/locale/fr_FR/LC_MESSAGES/django.po
  src/frontend/apps/impress/public/assets/logo-suite-numerique.png
  src/mail/mjml/invitation.mjml
  src/mail/mjml/partial/header.mjml
Labels: feature, backend

#422 ⚡️(docker) improve y-provider image
  .github/workflows/docker-hub.yml
  CHANGELOG.md
  bin/Tiltfile
  docker-compose.yml
  src/frontend/Dockerfile
  src/frontend/servers/y-provider/Dockerfile
Labels: docker, collaboration

#512 🐛(CI) add chrome playwright install
  .github/workflows/impress-frontend.yml
Labels: CI, Chromium

#510 ✅(e2e) add a test on doc creation server side
  env.d/development/common.e2e.dist
  src/frontend/apps/e2e/__tests__/app-impress/doc-create.spec.ts
Labels: e2e

#513 🔖(minor) release 1.10.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/extra/Chart.yaml
  src/helm/helmfile.yaml
  src/helm/impress/Chart.yaml
  src/mail/package.json
Labels: release

#515 ✨(frontend) add favorite document functionality
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-favorite.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-grid.spec.ts
  src/frontend/apps/impress/src/features/docs/doc-management/api/index.ts
  src/frontend/apps/impress/src/features/docs/doc-management/api/useCreateFavoriteDoc.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/api/useDeleteFavoriteDoc.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/api/useDocs.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/assets/pinned-document.svg
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGridActions.tsx
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGridItem.tsx
  src/frontend/apps/impress/src/features/header/components/Header.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanel.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelContent.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelFavorites.tsx
  src/frontend/apps/impress/src/features/left-panel/stores/useLeftPanelStore.tsx
Labels: frontend

#519 🔧(helm) add option to disable default tls setting
  CHANGELOG.md
  src/helm/impress/templates/ingress.yaml
  src/helm/impress/templates/ingress_admin.yaml
  src/helm/impress/templates/ingress_collaboration_api.yaml
  src/helm/impress/templates/ingress_collaboration_ws.yaml
  src/helm/impress/templates/ingress_media.yaml
  src/helm/impress/values.yaml
Labels: helm

#525 ✨(backend) add option to configure list of required OIDC claims
  CHANGELOG.md
  src/backend/core/authentication/backends.py
  src/backend/core/tests/authentication/test_backends.py
  src/backend/impress/settings.py
Labels: enhancement, python, backend
