Repository suitenumerique/docs, pull requests merged in 2024-07, with the labels that each got.

#117 ♻️(documents) store document file in object storage in a folder
  src/backend/core/models.py
  src/backend/core/tests/test_models_documents.py
Labels: enhancement, backend

#125 🗃️(service-worker) cache successfull update in doc-item
  src/frontend/apps/impress/src/features/service-worker/ApiPlugin.ts
  src/frontend/apps/impress/src/features/service-worker/__tests__/ApiPlugin.test.tsx
Labels: bug, SW

#126 ⚡️(e2e) remove unnecessary page.goto
  src/frontend/apps/e2e/__tests__/app-impress/doc-panel.spec.ts
Labels: bug, CI

#123 🔖(major) major release to 1.0.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/apps/y-webrtc-signaling/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/mail/package.json
  src/tsclient/package.json
Labels: release

#131 👔(service-worker) add new field to create doc
  src/frontend/apps/impress/src/features/service-worker/ApiPlugin.ts
Labels: bug, frontend, SW

#134 ✨(frontend) create side modal component
  CHANGELOG.md
  src/frontend/apps/impress/src/components/SideModal.tsx
Labels: enhancement, frontend, feature

#148 🌐(frontend) translate last features
  src/frontend/apps/impress/src/i18n/translations.json
Labels: frontend, i18n

#146 🔖(minor) minor release to 1.1.0
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/apps/y-webrtc-signaling/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/helm/env.d/preprod/values.impress.yaml.gotmpl
  src/helm/env.d/production/values.impress.yaml.gotmpl
  src/mail/package.json
  src/tsclient/package.json
Labels: release
