Repository suitenumerique/docs, pull requests merged in 2025-09, with the labels that each got.

#1319 🐛(frontend) fix export when quote block and inline code
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-export/mappingDocx.tsx
  src/frontend/apps/impress/src/features/docs/doc-export/mappingPDF.tsx
Labels: bug, frontend, export

#1313 🐛(frontend) remove padding from ul in left panel favorites
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelFavorites.tsx
Labels: bug, frontend

#1332 🐛(frontend) fix display bug on homepage
  CHANGELOG.md
  src/frontend/apps/impress/src/components/Box.tsx
  src/frontend/apps/impress/src/features/home/components/HomeSection.tsx
Labels: bug, frontend

#1342 🔒️(all) refactor Docker Hub login to use official GitHub actions
  .github/workflows/docker-hub.yml
Labels: CI, noChangeLog

#1341 ✨(frontend) unify tab focus style for better visual consistency
  CHANGELOG.md
  src/frontend/apps/impress/src/components/DropButton.tsx
  src/frontend/apps/impress/src/components/dropdown-menu/DropdownMenu.tsx
  src/frontend/apps/impress/src/features/auth/components/ButtonLogin.tsx
  src/frontend/apps/impress/src/features/header/components/Header.tsx
  src/frontend/apps/impress/src/features/language/components/LanguagePicker.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LefPanelTargetFilters.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelFavoriteItem.tsx
Labels: frontend, accessibility

#1349 ✨(frontend) improve modal a11y: structure, labels, and title
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-editor.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-export.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-grid.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-header.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-search.spec.ts
  src/frontend/apps/impress/src/components/modal/AlertModal.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteToolBar/ModalConfirmDownloadUnsafe.tsx
  src/frontend/apps/impress/src/features/docs/doc-export/components/ModalExport.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/components/ModalRemoveDoc.tsx
  src/frontend/apps/impress/src/features/docs/doc-search/components/DocSearchModal.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareModal.tsx
  src/frontend/apps/impress/src/features/docs/doc-versioning/components/ModalConfirmationVersion.tsx
  src/frontend/apps/impress/src/features/docs/doc-versioning/components/ModalSelectVersion.tsx
  src/frontend/apps/impress/src/i18n/translations.json
  src/frontend/apps/impress/src/pages/globals.css
Labels: frontend, accessibility

#1361 💄(frontend) remove margin from modal title
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteToolBar/ModalConfirmDownloadUnsafe.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareModal.tsx
Labels: bug, frontend

#1385 🐛(backend) duplicate sub docs as root for reader user
  CHANGELOG.md
  src/backend/core/api/viewsets.py
  src/backend/core/tests/documents/test_api_documents_duplicate.py
Labels: bug, backend

#1365 ✨(frontend) add document visible in list and openable via enter key
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGridItem.tsx
Labels: frontend, accessibility

#1368 ✨(frontend) add pdf outline property to enable bookmarks display
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-export/blocks-mapping/headingPDF.tsx
  src/frontend/apps/impress/src/features/docs/doc-export/components/ModalExport.tsx
Labels: frontend, accessibility

#1394 ✨(frontend) improve accessibility by adding landmark roles to layout
  CHANGELOG.md
  src/frontend/apps/impress/src/features/footer/Footer.tsx
  src/frontend/apps/impress/src/features/header/components/Header.tsx
  src/frontend/apps/impress/src/features/home/components/HomeContent.tsx
  src/frontend/apps/impress/src/layouts/MainLayout.tsx
  src/frontend/apps/impress/src/layouts/PageLayout.tsx
Labels: frontend, accessibility

#1379 ✨(docs) add title metadata to exported docx/pdf for accessibility
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-export.spec.ts
  src/frontend/apps/impress/src/features/docs/doc-export/components/ModalExport.tsx
Labels: frontend, accessibility

#1404 ✨(frontend) hide decorative icons from assistive tech with aria-hidden
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/utils-sub-pages.ts
  src/frontend/apps/impress/src/components/Icon.tsx
  src/frontend/apps/impress/src/features/docs/doc-tree/components/DocTreeItemActions.tsx
Labels: frontend, accessibility

#1406 🐛(frontend) scroll back to top when navigate to a document
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-editor.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-table-content.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/utils-editor.ts
  src/frontend/apps/e2e/__tests__/app-impress/utils-sub-pages.ts
  src/frontend/apps/impress/src/pages/docs/[id]/index.tsx
Labels: bug, frontend

#1396 ✨(frontend) improve NVDA navigation in DocShareModal
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-editor.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-member-create.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/utils-share.ts
  src/frontend/apps/e2e/__tests__/app-impress/utils-sub-pages.ts
  src/frontend/apps/impress/src/components/quick-search/QuickSearch.tsx
  src/frontend/apps/impress/src/components/quick-search/QuickSearchInput.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareModal.tsx
  src/frontend/apps/impress/src/features/docs/doc-tree/components/DocTreeItemActions.tsx
Labels: frontend, accessibility

#1403 ⬆️(dependencies) Bump vite from 7.1.0 to 7.1.5
  src/frontend/yarn.lock
Labels: dependencies

#1423 ✨(frontend) add default background to left panel for better accessibi…
  CHANGELOG.md
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanel.tsx
Labels: frontend, accessibility

#1431 ♿(frontend) improve semantic structure and aria roles of leftpanel
  CHANGELOG.md
  src/frontend/apps/impress/src/features/left-panel/components/LefPanelTargetFilters.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanel.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelFavorites.tsx
Labels: frontend, accessibility
