Repository suitenumerique/docs, pull requests merged in 2025-02, with the labels that each got.

#604 📝(doc) Add security.md and codeofconduct.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
Labels: documentation

#629 🛂(frontend) Restore version visibility
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-versioning/components/ModalSelectVersion.tsx
Labels: frontend, accessility

#639 ♻️(front) improve table pdf rendering
  CHANGELOG.md
  src/frontend/apps/impress/package.json
  src/frontend/apps/impress/src/features/docs/doc-header/components/ModalExport.tsx
  src/frontend/apps/impress/src/features/docs/doc-header/components/blocks/Table.tsx
  src/frontend/apps/impress/src/types/@ag-media/react-pdf-table.d.ts
  src/frontend/yarn.lock
Labels: frontend, editor

#614 ✅(e2e) fix error authenticate navigation to finish
  src/frontend/apps/e2e/__tests__/app-impress/auth.setup.ts
  src/frontend/apps/e2e/playwright.config.ts
Labels: bug, CI, e2e

#648 ♻️(compose) set compose name in the docker-compose file
  bin/_config.sh
  docker-compose.yml
Labels: enhancement
