Repository suitenumerique/docs, pull requests merged in 2025-03, with the labels that each got.

#671 🐛(backend) allow more extensions for media download
  CHANGELOG.md
  src/backend/core/api/viewsets.py
  src/backend/core/tests/documents/test_api_documents_media_auth.py
Labels: bug, python, backend, urgent

#666 ✨(frontend) add open source section homepage
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/home.spec.ts
  src/frontend/apps/impress/src/features/home/components/HomeBottom.tsx
  src/frontend/apps/impress/src/features/home/components/HomeContent.tsx
  src/frontend/apps/impress/src/features/home/components/HomeSection.tsx
Labels: enhancement, frontend

#660 ♻️(back) extract ancestor deleted_at directly from db in restore method
  src/backend/core/models.py
Labels: enhancement, backend

#674 ⚡️(back) restrict documents to restore using only the queryset
  src/backend/core/models.py
  src/backend/core/tests/test_models_documents.py
Labels: enhancement

#678 ♻️(front) use sentry tags instead of extra scope
  CHANGELOG.md
  src/backend/impress/settings.py
  src/frontend/apps/impress/src/stores/useSentryStore.tsx
  src/frontend/servers/y-provider/src/services/sentry.ts
Labels: enhancement

#688 🐛(frontend) remove scroll listener table content
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-table-content/components/TableContent.tsx
Labels: bug, frontend

#699 ⚡️(back) use redis as session backend in developement
  src/backend/impress/settings.py
Labels: enhancement

#702 📝(frontend) change literal section open source
  CHANGELOG.md
  src/frontend/apps/impress/src/features/home/components/HomeContent.tsx
  src/frontend/apps/impress/src/i18n/translations.json
Labels: documentation, frontend

#714 🐛(frontend) fix flakiness e2e tests title doc
  src/frontend/apps/e2e/__tests__/app-impress/common.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-grid.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-member-list.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-visibility.spec.ts
Labels: e2e

#736 🚨(helm) fix helmfile lint
  .github/workflows/helmfile-linter.yaml
  CHANGELOG.md
  src/helm/helmfile.yaml
Labels: helm, refacto

#742 🌐(i18n) activate dutch language
  CHANGELOG.md
  src/backend/core/tests/test_api_config.py
  src/backend/impress/settings.py
  src/backend/locale/de_DE/LC_MESSAGES/django.po
  src/backend/locale/en_US/LC_MESSAGES/django.po
  src/backend/locale/fr_FR/LC_MESSAGES/django.po
  src/backend/locale/nl_NL/LC_MESSAGES/django.po
  src/frontend/apps/e2e/__tests__/app-impress/config.spec.ts
  src/frontend/apps/impress/src/i18n/translations.json
Labels: i18n

#756 🚨(gitlint) Allow uppercase in commit messages
  CHANGELOG.md
  CONTRIBUTING.md
  gitlint/gitlint_emoji.py
Labels: refacto

#781 🐛(back) allow only images to be used with the cors-proxy
  CHANGELOG.md
  src/backend/core/api/viewsets.py
  src/backend/core/tests/documents/test_api_documents_cors_proxy.py
Labels: bug

#712 🚸(frontend) ctrl+k modal not when editor is focused
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-search.spec.ts
  src/frontend/apps/impress/src/hook/useCmdK.tsx
Labels: frontend, editor, accessility

#785 📝(docs) fix typo
  src/frontend/apps/impress/src/features/home/components/HomeContent.tsx
Labels: frontend

#817 🐛(ci) use github action for argocd webhook notification
  .github/workflows/docker-hub.yml
Labels: noChangeLog

#822 🐛(back) validate document content in serializer
  CHANGELOG.md
  src/backend/core/api/serializers.py
  src/backend/core/tests/documents/test_api_documents_update.py
Labels: bug
