Repository suitenumerique/docs, pull requests merged in 2025-10, with the labels that each got.

#1377 💬(copy) wrong permission mentionned on move doc
  src/frontend/apps/e2e/__tests__/app-impress/doc-grid-dnd.spec.ts
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocGridContentList.tsx
Labels: bug, frontend

#1449 🔒(frontend) prevent readers from changing callout emoji
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-editor/components/custom-blocks/CalloutBlock.tsx
Labels: bug, frontend, triage

#1454 ♻️(ci) add feature app environment
  .github/workflows/docker-hub.yml
  src/helm/env.d/dev/values.dev-backend.yaml.gotmpl
  src/helm/env.d/feature/values.dev-backend.yaml.gotmpl
  src/helm/env.d/feature/values.impress.yaml.gotmpl
  src/helm/helmfile.yaml
Labels: preview

#1463 🐛(frontend) reduce no access image size from 450 to 300
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-management/components/DocPage403.tsx
  src/frontend/apps/impress/src/pages/401.tsx
  src/frontend/apps/impress/src/pages/404.tsx
Labels: enhancement, frontend
