Repository suitenumerique/docs, pull requests merged in 2025-07, with the labels that each got.

#1177 🔖(patch) release 3.4.1
  CHANGELOG.md
  src/backend/pyproject.toml
  src/frontend/apps/e2e/package.json
  src/frontend/apps/impress/package.json
  src/frontend/package.json
  src/frontend/packages/eslint-config-impress/package.json
  src/frontend/packages/i18n/package.json
  src/frontend/servers/y-provider/package.json
  src/helm/helmfile.yaml
  src/helm/impress/Chart.yaml
  src/mail/package.json
Labels: release

#891 🐛(helm) charts generate invalid YAML for collaboration API / WS
  CHANGELOG.md
  src/helm/impress/templates/ingress_collaboration_api.yaml
  src/helm/impress/templates/ingress_collaboration_ws.yaml
Labels: helm

#1200 🔧(project) change env.d system by using local files
  .github/workflows/impress-frontend.yml
  .gitignore
  CHANGELOG.md
  Makefile
  compose-e2e.yml
  compose.yml
  env.d/development/common
  env.d/development/common.e2e
  env.d/development/crowdin
  env.d/development/kc_postgresql
  env.d/development/postgresql
Labels: backend, docker

#1187 💄(frontend) visibility icon near title
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGridItem.tsx
Labels: frontend, refacto

#1179 🐛(frontend) fix unfold subdocs not clickable at the bottom
  CHANGELOG.md
  src/frontend/apps/impress/src/cunningham/cunningham-style.css
Labels: bug, frontend, multipages

#1207 ⚡️(frontend) improve tree stability
  CHANGELOG.md
  src/frontend/apps/impress/src/features/docs/doc-header/components/DocTitle.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/api/useDoc.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocRoleDropdown.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareAddMemberList.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareInvitation.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareMember.tsx
  src/frontend/apps/impress/src/features/docs/doc-tree/api/useDocTree.tsx
  src/frontend/apps/impress/src/features/docs/doc-tree/components/DocSubPageItem.tsx
  src/frontend/apps/impress/src/features/docs/doc-tree/components/DocTree.tsx
  src/frontend/apps/impress/src/features/docs/doc-tree/components/DocTreeItemActions.tsx
  src/frontend/apps/impress/src/features/docs/doc-tree/components/index.ts
  src/frontend/apps/impress/src/features/docs/doc-tree/index.ts
  src/frontend/apps/impress/src/features/docs/doc-tree/utils.ts
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelDocContent.tsx
Labels: enhancement, frontend, refacto

#1214 🐛(frontend) 401 redirection overridden
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-routing.spec.ts
  src/frontend/apps/impress/src/core/AppProvider.tsx
  src/frontend/apps/impress/src/features/docs/doc-management/api/useUpdateDoc.tsx
Labels: bug, frontend

#1219 ✨(frontend) add multi columns support for editor
  CHANGELOG.md
  docs/env.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-export.spec.ts
  src/frontend/apps/impress/package.json
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteEditor.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/BlockNoteSuggestionMenu.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/xl-multi-column/index.ts
Labels: frontend, feature

#1243 🐛(frontend) include root parent in search
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-search.spec.ts
  src/frontend/apps/impress/src/features/docs/doc-search/components/DocSearchSubPageContent.tsx
Labels: bug, frontend
