Repository suitenumerique/docs, pull requests merged in 2025-04, with the labels that each got.

#808 📝(docs) fix grammar and typos
  docs/installation.md
Labels: documentation, enhancement

#874 🚸(backend) make document search on title accent-insensitive
  CHANGELOG.md
  src/backend/core/api/filters.py
  src/backend/core/migrations/0021_activate_unaccent_extension.py
  src/backend/core/tests/documents/test_api_documents_descendants_filters.py
Labels: enhancement, python, backend

#868 ♻️(frontend) refacto useCunninghamTheme
  src/frontend/apps/impress/src/components/Card.tsx
  src/frontend/apps/impress/src/components/DropdownMenu.tsx
  src/frontend/apps/impress/src/components/quick-search/QuickSearchInput.tsx
  src/frontend/apps/impress/src/components/quick-search/QuickSearchItemContent.tsx
  src/frontend/apps/impress/src/components/separators/HorizontalSeparator.tsx
  src/frontend/apps/impress/src/components/separators/SeparatedSection.tsx
  src/frontend/apps/impress/src/cunningham/__tests__/useCunninghamTheme.spec.tsx
  src/frontend/apps/impress/src/cunningham/useCunninghamTheme.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/DocEditor.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/custom-blocks/DividerBlock.tsx
  src/frontend/apps/impress/src/features/docs/doc-editor/components/custom-blocks/QuoteBlock.tsx
  src/frontend/apps/impress/src/features/docs/doc-export/blocks-mapping/dividerDocx.tsx
  src/frontend/apps/impress/src/features/docs/doc-export/blocks-mapping/dividerPDF.tsx
  src/frontend/apps/impress/src/features/docs/doc-header/components/DocHeader.tsx
  src/frontend/apps/impress/src/features/docs/doc-header/components/DocTitle.tsx
  src/frontend/apps/impress/src/features/docs/doc-header/components/DocToolBox.tsx
  src/frontend/apps/impress/src/features/docs/doc-header/components/DocVersionHeader.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareAddMemberList.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareAddMemberListItem.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareInvitationItem.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareMemberItem.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocVisibility.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/SearchUserRow.tsx
  src/frontend/apps/impress/src/features/docs/doc-table-content/components/Heading.tsx
  src/frontend/apps/impress/src/features/docs/doc-table-content/components/TableContent.tsx
  src/frontend/apps/impress/src/features/docs/doc-versioning/components/VersionItem.tsx
  src/frontend/apps/impress/src/features/docs/docs-grid/components/DocsGridItem.tsx
  src/frontend/apps/impress/src/features/docs/docs-grid/components/SimpleDocItem.tsx
  src/frontend/apps/impress/src/features/footer/Footer.tsx
  src/frontend/apps/impress/src/features/header/components/Header.tsx
  src/frontend/apps/impress/src/features/header/components/LaGaufre.tsx
  src/frontend/apps/impress/src/features/header/components/Title.tsx
  src/frontend/apps/impress/src/features/home/components/HomeBanner.tsx
  src/frontend/apps/impress/src/features/home/components/HomeBottom.tsx
  src/frontend/apps/impress/src/features/home/components/HomeContent.tsx
  src/frontend/apps/impress/src/features/home/components/HomeHeader.tsx
  src/frontend/apps/impress/src/features/home/components/HomeSection.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LefPanelTargetFilters.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanel.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelDocContent.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelFavoriteItem.tsx
  src/frontend/apps/impress/src/features/left-panel/components/LeftPanelFavorites.tsx
  src/frontend/apps/impress/src/layouts/MainLayout.tsx
  src/frontend/apps/impress/src/pages/accessibility/index.tsx
  src/frontend/apps/impress/src/pages/legal-notice/index.tsx
  src/frontend/apps/impress/src/pages/personal-data-cookies/index.tsx
Labels: enhancement, frontend

#867 ⚡️(frontend) reduce unblocking time for config
  CHANGELOG.md
  src/frontend/apps/impress/src/core/config/api/useConfig.tsx
  src/frontend/apps/impress/src/features/language/hooks/useLanguageSynchronizer.ts
Labels: enhancement, frontend, refacto

#886 ✨(settings) Allow configuring PKCE for the SSO
  CHANGELOG.md
  src/backend/impress/settings.py
Labels: backend

#900 ♻️(frontend) bind ui with ability access
  CHANGELOG.md
  src/frontend/apps/e2e/__tests__/app-impress/doc-export.spec.ts
  src/frontend/apps/e2e/__tests__/app-impress/doc-member-list.spec.ts
  src/frontend/apps/impress/src/features/docs/doc-management/hooks/useTrans.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocRoleDropdown.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareMemberItem.tsx
  src/frontend/apps/impress/src/features/docs/doc-share/components/DocShareModal.tsx
Labels: bug, frontend, refacto
